In [1]:
(206-4)/3

67.33333333333333

In [2]:
26*2+26+3

81

In [3]:
68*2+68+3

207

In [4]:
ann_idx = 4
num_landm = 26
for label_idx in range(4, num_landm*2+num_landm+3, 3):
    #annotation[0, ann_idx] = label[label_idx]
    #annotation[0, ann_idx+1] = label[label_idx+1]
    print(ann_idx)
    print(ann_idx+1)
    ann_idx+=2

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55

In [5]:
ann_idx

56